## Practice Pandas by exploring a certain csv file

In [5]:
import pandas as pd
used_vehicles = pd.read_csv("car details v4.csv")

### set and reset indexm, get first or last rows

In [6]:
used_vehicles.set_index("Make") # set index as the maker
used_vehicles.reset_index(inplace=True) # reset the index
used_vehicles.head(3) # get the first 3 rows
used_vehicles.tail(100) # get the last 100 rows

,index,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,...,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
1959,1959,Mercedes-Benz,GLE 250 d,4190000,2017,90000,Diesel,Automatic,Ludhiana,Black,...,Individual,2143 cc,201 bhp @ 3800 rpm,500 Nm @ 1600 rpm,AWD,4819.0,2141.0,1796.0,5.0,93.0
1960,1960,Honda,Brio S MT,341000,2016,49000,Petrol,Manual,Mumbai,White,...,Individual,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3610.0,1680.0,1500.0,5.0,35.0
1961,1961,Maruti Suzuki,Vitara Brezza ZDi Plus,950000,2018,71000,Diesel,Manual,Udupi,White,...,Individual,1248 cc,89 bhp @ 4000 rpm,200 Nm @ 1750 rpm,FWD,3995.0,1790.0,1640.0,5.0,48.0
1962,1962,Maruti Suzuki,Swift VXi,409999,2014,20000,Petrol,Manual,Mumbai,Grey,...,Individual,1197 cc,85 bhp @ 6000 rpm,114 Nm @ 4000 rpm,FWD,3850.0,1695.0,1530.0,5.0,42.0
1963,1963,Maruti Suzuki,Wagon R LXi,290000,2012,12300,Petrol,Manual,Mumbai,Blue,...,Individual,998 cc,68@6200,90@3500,NaN,3539.0,1475.0,1700.0,5.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,2054,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,...,Individual,2179 cc,138 bhp @ 3750 rpm,330 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0
2055,2055,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,...,Individual,814 cc,55 bhp @ 5500 rpm,75 Nm @ 4000 rpm,FWD,3495.0,1550.0,1500.0,5.0,32.0
2056,2056,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,...,Individual,1196 cc,70 bhp @ 6250 rpm,102 Nm @ 4000 rpm,FWD,3795.0,1680.0,1427.0,5.0,45.0
2057,2057,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,...,Individual,1995 cc,188 bhp @ 4000 rpm,400 Nm @ 1750 rpm,RWD,4936.0,1868.0,1479.0,5.0,65.0
2058,2058,Mahindra,Bolero Power Plus ZLX [2016-2019],670000,2017,72000,Diesel,Manual,Guwahati,White,...,Individual,1493 cc,70 bhp @ 3600 rpm,195 Nm @ 1400 rpm,RWD,3995.0,1745.0,1880.0,7.0,NaN

### Use .loc to extract unique data

In [7]:

used_vehicles.loc[[0, 100, 1000], "Model"] # 0th, 100th, 1000th vehicles' model name
used_vehicles.loc[0:3, "Year"] # 0 to 3rd vehicles' manufactered date (inclusive)
used_vehicles.loc[0:3, :] # every data of 0 to 3rd vehicles (inclusive)
used_vehicles.loc[100:200, ["Make", "Model", "Price"]] # 100th to 200th vehicles' data of maker, model, and price

              Make                                         Model    Price
100         Toyota                           Corolla Altis 1.8 G   493000
101        Hyundai                      Elite i20 Sportz 1.2 (O)   611000
102        Hyundai  Grand i10 Asta AT 1.2 Kappa VTVT [2013-2016]   475000
103        Hyundai                     Creta SX Plus 1.6  Petrol   925000
104           Audi                            A6 2.0 TDI Premium  1325000
..             ...                                           ...      ...
196          Volvo                          V40 Cross Country D3  1250000
197            BMW             5-Series 530d M Sport [2013-2017]  5600000
198  Maruti Suzuki                               Swift DZire VDI   560000
199       Mahindra                          Scorpio S5 2WD 7 STR  1221000
200            BMW                         X5 xDrive 30d M Sport  2975000

[101 rows x 3 columns]

### Use .iloc to extrac unique data

In [8]:
used_vehicles_index_false = pd.read_csv("car details v4.csv", index_col = False) # get rid of index column
used_vehicles_index_false.iloc[0:5] # same as slicing (last implement exclusive)
used_vehicles_index_false.iloc[0: 20, 0: 3]

             Make                                 Model    Price
0           Honda                   Amaze 1.2 VX i-VTEC   505000
1   Maruti Suzuki                       Swift DZire VDI   450000
2         Hyundai                  i10 Magna 1.2 Kappa2   220000
3          Toyota                              Glanza G   799000
4          Toyota       Innova 2.4 VX 7 STR [2016-2020]  1950000
5   Maruti Suzuki                              Ciaz ZXi   675000
6   Mercedes-Benz                  CLA 200 Petrol Sport  1898999
7             BMW                  X1 xDrive20d M Sport  2650000
8           Skoda  Octavia 1.8 TSI Style Plus AT [2017]  1390000
9          Nissan                        Terrano XL (D)   575000
10        Hyundai                  Elite i20 Sportz 1.2   591000
11        Renault              Kwid 1.0 RXT [2016-2019]   459999
12  Maruti Suzuki  Ciaz Alpha Hybrid 1.5 AT [2018-2020]  1075000
13           Tata                Harrier XZ [2019-2020]  1695000
14     Volkswagen                           Polo GT TSI   944999
15  Maruti Suzuki           Celerio ZXi AMT [2019-2020]   569000
16  Maruti Suzuki                      Alto 800 LXi (O)   449000
17  Maruti Suzuki                Baleno Alpha Automatic   894999
18  Maruti Suzuki                   Wagon R ZXi 1.2 AMT   699000
19        Hyundai                    Creta 1.6 E Petrol   740000

# Use context-dependent Extraction by using []

In [9]:
used_vehicles_index_false[0: 4] # get first four rows
used_vehicles_index_false[["Price", "Kilometer", "Location"]] # get every vehicle's price, kilometer, and location

        Price  Kilometer    Location
0      505000      87150        Pune
1      450000      75000    Ludhiana
2      220000      67000     Lucknow
3      799000      37500   Mangalore
4     1950000      69000      Mumbai
...       ...        ...         ...
2054   850000      90300       Surat
2055   275000      83000   Ahmedabad
2056   240000      73000       Thane
2057  4290000      60474  Coimbatore
2058   670000      72000    Guwahati

[2059 rows x 3 columns]